.type {
    line-height: 125%;
    &--secondary {
      color: var(--figma-color-text-secondary);
    }

    &--tertiary {
      color: var(--figma-color-text-tertiary);
    }
  }

.input {
    &__field {
      color: var(--figma-color-text);
      border: 1px solid var(--figma-color-border);
      background-color: var(--figma-color-bg);
      &:hover,
      &:placeholder-shown:hover {
        color: var(--figma-color-text);
        border: 1px solid var(--figma-color-border);
      }
      &::selection {
        color: var(--figma-color-text);
        background-color: var(--figma-color-bg-selected);
      }
      &::placeholder {
        color: var(--figma-color-text-disabled);
      }
      &:placeholder-shown {
        border: 1px solid var(--figma-color-border);
      }
      &:focus:placeholder-shown {
        border: 1px solid var(--figma-color-border-selected);
        outline: 1px solid var(--figma-color-border-selected);
      }
      &:active,
      &:focus {
        color: var(--figma-color-text);
        border: 1px solid var(--figma-color-border-selected);
        outline: 1px solid var(--figma-color-border-selected);
        outline-offset: -2px;
      }
      &:disabled {
        color: var(--figma-color-text-disabled);
      }
    }
  }

  .button {
    color: var(--white);
    &--primary {
      background-color: var(--figma-color-bg-brand);
      &:enabled:active,
      &:enabled:focus {
        border: 2px solid var(--figma-color-border-selected);
      }
      &:enabled:active {
        background-color: var(--figma-color-bg-brand-pressed);
      }
      &:disabled {
        background-color: var(--figma-color-border-disabled);
        color: var(--figma-color-text-disabled);
      }
    }
    &--secondary {
      background-color: var(--figma-color-bg);
      border: 1px solid var(--figma-color-text);
      color: var(--figma-color-text);

      &:enabled:active,
      &:enabled:focus {
        border: 2px solid var(--figma-color-border-selected);
      }
      &:enabled:active {
        background-color: var(--figma-color-bg-pressed);
      }
      &:disabled {
        border: 1px solid var(--figma-color-border-disabled);
        color: var(--figma-color-text-disabled);
      }
    }
  }

  .checkbox {
	&__label {
		color: var(--figma-color-text);
	}

	&__label:before {
		border: 1px solid var(--figma-color-text);
	}

	&__box:disabled + &__label {
		color: var(--figma-color-text);
	}
	&__box:checked + &__label:before {
		background-color: var(--figma-color-bg-brand);
		border: 1px solid var(--figma-color-border-brand);
	}
	&__box:checked:disabled + &__label:before {
		background-color: var(--figma-color-text);
	}
}